version: '3.9'

services:
  db:
    image: postgres:15
    container_name: fastapi_db
    restart: always
    environment:
      POSTGRES_USER: fullstack
      POSTGRES_PASSWORD: fullstack_password
      POSTGRES_DB: fastapi_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: always
    ports:
      - "6379:6379"

  backend:
    build: .
    container_name: fastapi_app
    restart: always
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: fullstack
      DB_PASS: fullstack_password
      DB_NAME: fastapi_db
      SECRET_KEY: "asdlajsdasASDASD"
      ALGORITHM: "HS256"

      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/1
      VIDEO_DIR: /app/videos
      OUT_DIR: /app/heatmaps
      YOLO_MODEL_PATH: yolov8n.pt
    volumes:
      - ./videos:/app/videos
      - ./heatmaps:/app/heatmaps

  worker:
    build: .
    container_name: ml_worker
    restart: always
    depends_on:
      - redis
    environment:
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/1
      VIDEO_DIR: /app/videos
      OUT_DIR: /app/heatmaps
      YOLO_MODEL_PATH: yolov8n.pt
    command: celery -A app.ml.tasks worker --loglevel=info
    volumes:
      - ./videos:/app/videos
      - ./heatmaps:/app/heatmaps

  frontend:
    build: ./frontend
    container_name: frontend_app
    restart: always
    depends_on:
      - backend
    ports:
      - "3000:4173"
    environment:
      VITE_API_URL: "http://localhost:8000"

volumes:
  postgres_data:
